body {
    background-color: beige;
}

.formatoh1{
    text-align: center ;
    color: rgb(18, 92, 67);
}

.Margen{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
}